@{
    ViewBag.Title = "Contact";
}

<h3>Contact Us</h3>
    <address>
        <a href="#">
            1234 Starshine Ln
            Carmel,IN,46280
        </a>

    </address>
    <hr />

    <h3>Open</h3>
    <p>Monday - Friday: 9AM - 6PM</p>
    <p>Saturday:9AM - 5PM</p>
    <hr />

    <h3>Phone</h3>
    <a href="tel:123-456-7890">123-456-7890</a>
<hr />

    <div class="media">
        <ol>
            <li><a class="nav-link">Terms&Conditions</a></li>
            <li><a class="nav-link">PrivacyPolicy</a></li>
            <li><a class="nav-link">About US</a></li>
            <li><a class="nav-link"><img src="~/Content/themes/base/images/facebook.png" width="50" height="50" /></a></li>
            <li><a class="nav-link"><img src="~/Content/themes/base/images/Instagramlogo - Copy.png" width="50" height="50" /></a></li>
            <li><a class="nav-link"><img src="~/Content/themes/base/images/Youtube - Copy.png" width="50" height="50" /></a></li>
            <li><a class="nav-link"><img src="~/Content/themes/base/images/Twitter - Copy.png" width="50" height="50" /></a></li>
        </ol>
    </div>



