
@{
    ViewBag.Title = "Features";
}

<div >
    <h2>Amenities & Features</h2>

</div>
<hr/>

    <h3>Top Amenities</h3>
<br />
<div class="row">
    <div class="col-md-2 ">
        <img src="~/Content/themes/base/images/Amenities1.png" />
    </div>
    <div class="col-md-2 ">
        <img src="~/Content/themes/base/images/Amenities2.png" />
    </div>
    <div class="col-md-2 ">
        <img src="~/Content/themes/base/images/Amenities3.png" />
    </div>
    <div class="col-md-6 ">
        <h3>Garden Grounds, Amazing Amenities</h3>
        <p> Enjoy luxury living with amenities such as a fitness center, playground, two pools, a spa, and a racquetball</p>

    </div>
</div>

<hr />
<img src="~/Content/themes/base/images/icon-amenity.png" />
    <h3>Apartment Features</h3>
<br />
<div class="row">
    <div class="col-md-3">
        <p>Accent walls available</p>
        <p>Fireplace</p>
        <p>Quartz countertops</p>
        <p>Modern cabinets</p>
        <p>Washer and dryer</p>
        <p>Large closets</p>
        <p>Great views</p>
        <p>Patio/balcony</p>
    </div>
    <div class="col-md-9">

    </div>

</div>
<hr />
<img src="~/Content/themes/base/images/icon-amenity-community.png" />
    <h3>Community Features</h3>
<br />
<div class="row">
    <div class="col-md-3">
        <p>BBQ area</p>
        <p>Courtesy patrol</p>
        <p>Fitness center</p>
        <p>Management on-site</p>
        <p>Online resident portal</p>
        <p>Swimming pool</p>
        <p>Pet friendly</p>
        <p>WiFi in common areas</p>
    </div>
    <div class="col-md-9">

    </div>
</div>
<hr />
    <h3>Pet Policy</h3>
<br />
<div class="row">
    <div class="col-md-12>">
    <p>
        Our pet-friendly apartments welcome most small breeds of dogs. Your dog will enjoy walks on the Monon Trail and there are convenient waste stations throughout our community.  However, because certain breeds may not thrive in a community environment, breed restrictions do apply.
    </p>
    </div>

    <h3>Please contact our office prior to applying for more detailed pet guidelines. </h3>
</div>
