@model HeavenlyHome_Models.FloorPlanModels.FloorPlanDetail

@{
    ViewBag.Title = "FloorPlans";
}

<section id="floorplans">
    <div class="container">
        <div class="title">
            <h1 class="text-danger text-center">Floor Plans</h1>
            <h2 class="text-center">Please explore floor plans available</h2>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/1.Greenfield FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">GREENFIELD</h5>
                    <p class="card-text">Beds:1 Baths:1 Garage spaces:1 Area:746SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/2.Riverton FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">RIVERTON</h5>
                    <p class="card-text">Beds:1 Baths:1 Garage spaces:1 Area:876SqFt</p>  
                    <button href="#">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/3.Venice FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">VENICE</h5>
                    <p class="card-text">Beds:1 Baths:1 Garage spaces:2 Area:951SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>                  
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/4.Lakeview FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">LAKEVIEW</h5>
                    <p class="card-text">Beds:1 Baths:2 Garage spaces:2 Area:1061SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>                  
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/5.Twilight FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">TWILIGHT</h5>
                    <p class="card-text">Beds:2 Baths:2 Garage spaces:1 Area:1175SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>                
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/6.Cedar FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">CEDAR</h5>
                    <p class="card-text">Beds:2 Baths:2 Garage spaces:1 Area:1279SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/7.Maple FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">MAPLE</h5>
                    <p class="card-text">Beds:2 Baths:2 Garage spaces:2 Area:1295SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>              
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/8.Pine FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title  text-danger">PINE</h5>
                    <p class="card-text">Beds:2 Baths:2 Garage spaces:2 Area:1319SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>                   
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/9.Gardenview FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">GARDENVIEW</h5>
                    <p class="card-text">Beds:3 Baths:2 Garage spaces:2 Area:1465SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/themes/base/images/10.Lexington FloorPlan.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title  text-danger">LEXINGTON</h5>
                    <p class="card-text">Beds:3 Baths:2 Garage spaces:2 Area:1665SqFt</p>
                    <button href="#">CHECK AVAILABILITY</button>                  
                </div>
            </div>
        </div>




    </div>

</section>

