@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<div class="col-md-4">
    <img src="~/Content/themes/base/images/Logo.png" width="200" height="200"/>

    </div>*@
    @*<div class="col-md-8">
    <h2 class="text-black-50">At Last, This Is What You’ve Been Searching For.</h2>
    </div>*@
    <h1 class="text-danger text-center">HEAVENLY HOME APARTMENTS</h1>

</div>
<div class="row">
    <div class="col-md-8 ">
        <img src="~/Content/themes/base/images/Index1.jpg " width="720" height="576" />
    </div>
    <div class="col-md-4">
        <h2 class="text-danger text-center">WELCOME TO HEAVENLY HOME APARTMENTS</h2>
        <p class="text-justify">
            Our apartment homes for rent are designed with your comfort and convenience in mind.
            Each of our spacious residences features air conditioning and a separate laundry room with full-size washer and dryer.
            Select homes boast additional features such as a pantry, walk-in closets, a wood-burning fireplace,
            and your own private outdoor patio or balcony.Around our pet-friendly community, experience enhanced living with
            our exquisite amenities just outside your door. Cook a meal in our BBQ area or work up a sweat in the fitness center or
            on our Tenniscourt. Our community has two pools for your enjoyment plus a relaxing spa for you to retreat to after a long day.
            You can’t beat our central location close to parks, public transit, and everyday conveniences. 
        </p>

    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <h2 class="text-danger text-center">CLOSE TO MANY ATTRACTIONS </h2>
        <p class="text-justify ">
            Heavenly Home Apartments is conveniently located to numerous attractions for you to enjoy. There are several private and
            public 18-hole nationally acclaimed golf courses. We have an exciting new tasty attraction,” Caffeine Trail” shining
            the spotlight on local shops and café’s offering gourmet coffees and teas. There are numerous events and festivals held
            in the Carmel area throughout the year. Stimulate your senses in Carmel Arts & Design district. Its vibrant shops consist
            of interior designers, art galleries, showrooms, specialty shops and restaurants.Head to neighboring Central Park and
            enjoy recreational activities or try out all the delicious restaurants in our neighborhood.
        </p>
    </div>
    <div class="col-md-8">
        <img src="~/Content/themes/base/images/Index3.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <img src="~/Content/themes/base/images/Index2.jpg" width="720" height="576" />
    </div>
    <div class="col-md-4">
        <h2 class="text-danger">WE'RE FOCUSED ON WHAT YOU WANT</h2>

        <p>Recycling</p>
        <p>Valet Trash Service</p>
        <p>Complimentary Bikes</p>
        <p>Attached 1 or 2 Car Garage with Direct Access</p>
        <p>Full Size Washer and Dryer</p>
        <p> Walk in Showers</p>

    </div>
</div>
<hr />

<div class="media">
    <ol>
        <li><a class="nav-link">Terms&Conditions</a></li>
        <li><a class="nav-link">PrivacyPolicy</a></li>
        <li><a class="nav-link">About US</a></li>       
        <li><a class="nav-link"><img src="~/Content/themes/base/images/facebook.png" width="50" height="50" /></a></li>
        <li><a class="nav-link"><img src="~/Content/themes/base/images/Instagramlogo - Copy.png" width="50" height="50" /></a></li>
        <li><a class="nav-link"><img src="~/Content/themes/base/images/Youtube - Copy.png" width="50" height="50" /></a></li>
        <li><a class="nav-link"><img src="~/Content/themes/base/images/Twitter - Copy.png" width="50" height="50" /></a></li>
    </ol>   
</div>







