@model HeavenlyHome_Models.ResidentModels.ResidentListItems
@{
    ViewBag.Title = "Index";
}

@*<h2>Welcome @Model.FullName</h2>*@


<p>
    @Html.ActionLink("ResidentPortal", "Index")
</p>

<ul>

    @Html.ActionLink("MaintenanceRequests", "Index", "MaintenanceRequest")
    @Html.ActionLink("Payments", "Index", "Payment")

</ul>